<div class="index-state">
    <ul class="nav nav-pills sub-menu">
        <!--menu-item-->
    </ul>
    <div class="jumbotron">
        <h1>This is your main page :)</h1>
        <p class="lead">
            To edit this file go to: /public/src/app/_states/index/index-state.html<br>
            there you can find this state controller nad styles
        </p>
        <p><a class="btn btn-lg btn-default" target="_blank" href="https://github.com/myflowpl/generator-angular-flow" role="button">
            angular-flow docs
        </a></p>
    </div>
    <ui-view></ui-view>
</div>